<html>
    <head>
        <title>Senha Incorreta</title>
        <script>
            confirm("Senha incorreta!\nVerifique e tente novamente!");
            window.location.replace("/room/<%= roomId %>");
        </script>
    </head>
</html>